@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";

mx|HScrollBar
{
	trackSkin: Embed(source="scrollSkins.swf", symbol="HScrollBar_trackSkin");
	trackDisabledSkin: Embed(source="scrollSkins.swf", symbol="HScrollBar_trackDisabledSkin");

	downArrowUpSkin: Embed(source="scrollSkins.swf", symbol="HScrollBar_downArrowUpSkin");
	downArrowOverSkin: Embed(source="scrollSkins.swf", symbol="HScrollBar_downArrowOverSkin");
	downArrowDownSkin: Embed(source="scrollSkins.swf", symbol="HScrollBar_downArrowDownSkin");
	downArrowDisabledSkin: Embed(source="scrollSkins.swf", symbol="HScrollBar_downArrowDisabledSkin");

	thumbIcon: Embed(source="scrollSkins.swf", symbol="HScrollBar_thumbIcon");
	thumbUpSkin: Embed(source="scrollSkins.swf", symbol="HScrollBar_thumbUpSkin");
	thumbOverSkin: Embed(source="scrollSkins.swf", symbol="HScrollBar_thumbOverSkin");
	thumbDownSkin: Embed(source="scrollSkins.swf", symbol="HScrollBar_thumbDownSkin");

	upArrowUpSkin: Embed(source="scrollSkins.swf", symbol="HScrollBar_upArrowUpSkin");
	upArrowOverSkin: Embed(source="scrollSkins.swf", symbol="HScrollBar_upArrowOverSkin");
	upArrowDownSkin: Embed(source="scrollSkins.swf", symbol="HScrollBar_upArrowDownSkin");
	upArrowDisabledSkin: Embed(source="scrollSkins.swf", symbol="HScrollBar_upArrowDisabledSkin");
}

mx|VScrollBar
{
	trackSkin: Embed(source="scrollSkins.swf", symbol="VScrollBar_trackSkin");
	trackDisabledSkin: Embed(source="scrollSkins.swf", symbol="VScrollBar_trackDisabledSkin");

	downArrowUpSkin: Embed(source="scrollSkins.swf", symbol="VScrollBar_downArrowUpSkin");
	downArrowOverSkin: Embed(source="scrollSkins.swf", symbol="VScrollBar_downArrowOverSkin");
	downArrowDownSkin: Embed(source="scrollSkins.swf", symbol="VScrollBar_downArrowDownSkin");
	downArrowDisabledSkin: Embed(source="scrollSkins.swf", symbol="VScrollBar_downArrowDisabledSkin");

	thumbIcon: Embed(source="scrollSkins.swf", symbol="VScrollBar_thumbIcon");
	thumbUpSkin: Embed(source="scrollSkins.swf", symbol="VScrollBar_thumbUpSkin");
	thumbOverSkin: Embed(source="scrollSkins.swf", symbol="VScrollBar_thumbOverSkin");
	thumbDownSkin: Embed(source="scrollSkins.swf", symbol="VScrollBar_thumbDownSkin");

	upArrowUpSkin: Embed(source="scrollSkins.swf", symbol="VScrollBar_upArrowUpSkin");
	upArrowOverSkin: Embed(source="scrollSkins.swf", symbol="VScrollBar_upArrowOverSkin");
	upArrowDownSkin: Embed(source="scrollSkins.swf", symbol="VScrollBar_upArrowDownSkin");
	upArrowDisabledSkin: Embed(source="scrollSkins.swf", symbol="VScrollBar_upArrowDisabledSkin");
}